---
import Container from "../components/container.astro";
import Default from "../layouts/default.astro";
import Title from "../components/title.astro";
---

<Default>
    <Container>
        <Title title="About" />
        <div>
            <p>初めまして。私の名前は理科大太郎です。</p>
            
        </div>
    </Container>
</Default>