---
import Default from "../layouts/default.astro";
import Layout from "../layouts/default.astro";
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Default>
		<h1>Hello, World!</h1>
	</body>
</html>
</Default>